<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="admin.css">
</head>
<body>
    <%- include('navbar') %>
    <main>
        <div class="admin-main-container">
            <form action="/admin/auth" method="post">
            <input type="text" name="adminUserName" placeholder="Enter Admin UserName">
            <input type="text" name="adminPassward" placeholder="Enter Admin Passward">
            <button type="submit" class="admin-button">Submit</button>
            </form>
        </div>
    </main>
</body>
</html>