<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include("navbar") %>
    <form action="/admin/ops" method="post">
        <select name="ops" id="operation">
          <option value="" selected di>Choose.. Operation</option>
           <option value="Create">Add Items</option>
           <option value="Delete">Remove Items</option>
           <option value="Update">Update Items</option>
           <option value="Read">Show Items</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>