        <!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title></title>
            <style>
                .container{
                    width: 100px;
                    height: 100px;
                }
            </style>
            <link rel="stylesheet" href="/style.css">
        </head>
        <body>
            <%- include('navbar') %>
            <div class="container">
                HEllo
            </div>
            <%- include('footer') %>
        </body>
        </html>