<div class="footer">
    <div class="subfooter">
        <h3>Spare<span style="color:red">.</span> We help you to save your money. Save Upto 50% shopping with us! <a
                href="/shop" style="text-decoration:none;">Shop Now</a></h3>
    </div>
    <div class="majorfooter">
        <div class="logo">
            <h1>Spare<span style="color: red;">.</span></h1>
            <div class="social-media">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-threads"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-snapchat"></i>
                <i class="fa-brands fa-youtube"></i>
            </div>
        </div>
        <hr>
        <div class="about-us">
            <h2>About us Who we are <span style="color: red;">?</span> what we do <span style="color: red;">?</span>
            </h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sit vitae quaerat repudiandae
                iusto eius nemo nihil temporibus, beatae recusandae velit necessitatibus repellendus, consequuntur,
                iste quae rerum inventore ipsum laudantium? Quasi aliquid beatae vero.</p>
        </div>
        <hr>
        <div class="contactus">
            <h2>Contact Us</h2>
            <br>
            <p><span style="color: red; font-size:1.2rem"><i
                        class="fa-solid fa-phone"></i></span>&nbsp;&nbsp;&nbsp;6134567891</p>
            <br><br>
            <h2>Location</h2>
            <br>
            <p><span style="color: red; font-size:1.2rem"><i
                        class="fa-solid fa-map-location-dot"></i></span>&nbsp;&nbsp;&nbsp;M.G Road ,Delhi-500068,
                INDIA</p>
            <br><br>
            <h2>Email</h2>
            <br>
            <p><span style="color: red; font-size:1.2rem"><i
                        class="fa-solid fa-at"></i></span>&nbsp;&nbsp;&nbsp;sparesSupport@gmail.com</p>
        </div>

    </div>
    <div class="copyright">
        <p>&copy; Copyright reserved 2024</p>
    </div>
</div>