    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AutoMobiles</title>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
            integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>
        <nav class="navbar">
            <div class="left-navbar">
                <h1>Spare<span style="color: red;">.</span></h1>
            </div>
            <div class="right-navbar">
                <ul class="nav-list">
                    <li class="navbar-items"><a href="/home">Home</a></li>
                    <li class="navbar-items"><a href="/shop" style="text-decoration: none; color:white">Shop</a></li>
                    <li class="navbar-items"><a href="/about">About Us</a></li>
                    <li class="navbar-items"><a href="/contact">Contact Us</a></li>
                </ul>
                <button type="button" class="btn"><a href="/signup" style="text-decoration: none; color:white">Sign
                        up</a></button>
            </div>
            <!-- Phone-view -->
            <div class="phone-right-navbar">
                <div class="menu-bar">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </nav>
        <div class="menu">
            <ul class="navlist-menu">
                <li class="navbar-items-menu"><a href="/home" style="text-decoration: none; color:white">Home</a></li>                <li class="navbar-items-menu"><a href="/shop" style="text-decoration: none; color:white">Shop</a></li>
                <li class="navbar-items-menu"><a href="/about" style="text-decoration: none; color:white">About Us</a></li>
                <li class="navbar-items-menu"><a href="/contact" style="text-decoration: none; color:white">Contact Us</a></li>
                <button type="button" class="btn-menu"><a href="/signup" style="text-decoration: none; ">Sign
                up</a></button>
            </ul>
        </div>
        <div class="heroSection">
            <div class="left-section">
                <p>Get discount on shopping with us..</p>
                <p>Spare.</p>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum omnis suscipit beatae voluptates,
                    corrupti alias.</p>
                <button class="btns"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
            </div>
            <div class="right-section">

            </div>
        </div>
        <div class="features-container">
            <div class="features-content">
                <i class="fa-solid fa-truck"></i>
                <div class="feature-heading">
                    <h3>Free Delivery</h3>
                    <p>For the delivery upto 2000/-</p>
                </div>
            </div>
            <div class="features-content">
                <i class="fa-solid fa-screwdriver-wrench"></i>
                <div class="feature-heading">
                    <h3>All parts available</h3>
                    <p>For all the vechiles</p>
                </div>
            </div>
            <div class="features-content">
                <i class="fa-solid fa-rotate"></i>
                <div class="feature-heading">
                    <h3>15 days Replacement</h3>
                    <p>24/7 Customer Support</p>
                </div>
            </div>
        </div>
        <div class="vehicles-container">
            <div class="heading-container">
                <div class="head-container-vehicles">
                    <p>FIND PARTS FOR YOUR</p>
                    <h2>VEHICLES</h2>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="image-content-car">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>CARS</h2>
                            <p>Find all car parts form basic model to luxurious model</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content-bike">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>Bikes</h2>
                            <p>Find all bike parts you want. Off market items also available</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content-scooter">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>SCOOTERS</h2>
                            <p>Find all Scooters parts</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content-electric">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>ELECTRIC</h2>
                            <p>Find all parts for electic vehicles cars/bikes/scooter available</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content-mopeds">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>MOPEDS</h2>
                            <p>Find all the parts for the mopeds</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
                <div class="card">
                    <div class="image-content-three-wheeler">
                    </div>
                    <div class="content">
                        <div class="title">
                            <h2>THREE WHEELER</h2>
                            <p>Find all the parts for the three wheeler</p>
                        </div>
                    </div>
                    <div class="button-container">
                        <button class="button"><a href="/shop" style="text-decoration: none; color:white">Shop Now</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="testmoinals-container">
            <div class="heading-testmonials">
                <p>SOME OF THE</p>
                <h2>TESTMONIALS</h2>
            </div>
            <div class="cards-testmonials-container">
                <% for(let feeds of feedBacks){ %>
                    <div class="card-testmonials">
                        <div class="profile-pic">
                            <div class="picture">
                                <img src="<%=feeds.profile%>"alt=" profile image">
                            </div>
                            <div class="stars">
                                <% for(let i = 0;i<feeds.stars;i++){ %>
                                    <i class="fa-solid fa-star"></i>
                                <% } %>
                            </div>
                        </div>
                        <div class="username">
                            <h3><%=feeds.userName %></h3>
                        </div>
                        <div class="feedback">
                            <p><q><%=feeds.feedback %></q></p>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="footer">
            <div class="subfooter">
                <h3>Spare<span style="color:red">.</span> We help you to save your money. Save Upto 50% shopping with us! <a href="/shop" style="text-decoration:none;">Shop Now</a></h3>
            </div>
            <div class="majorfooter">
                <div class="logo">
                    <h1>Spare<span style="color: red;">.</span></h1>
                    <div class="social-media">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-threads"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-snapchat"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
                <hr>
                <div class="about-us">
                    <h2>About us Who we are<span style="color: red;">?</span>
                    </h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sit vitae quaerat repudiandae
                        iusto eius nemo nihil temporibus, beatae recusandae velit necessitatibus repellendus, consequuntur,
                        iste quae rerum inventore ipsum laudantium? Quasi aliquid beatae vero.</p>
                </div>
                <hr>
                <div class="contactus">
                    <h2>Contact Us</h2>
                    <br>
                    <p><span style="color: red; font-size:1.2rem"><i
                                class="fa-solid fa-phone"></i></span>&nbsp;&nbsp;&nbsp;6134567891</p>
                    <br><br>
                    <h2>Location</h2>
                    <br>
                    <p><span style="color: red; font-size:1.2rem"><i
                                class="fa-solid fa-map-location-dot"></i></span>&nbsp;&nbsp;&nbsp;M.G Road ,Delhi-500068,
                        INDIA</p>
                    <br><br>
                    <h2>Email</h2>
                    <br>
                    <p><span style="color: red; font-size:1.2rem"><i
                                class="fa-solid fa-at"></i></span>&nbsp;&nbsp;&nbsp;sparesSupport@gmail.com</p>
                </div>
            </div>
            <div class="copyright">
                <p>&copy; Copyright reserved 2024 &nbsp;&nbsp;&nbsp;&nbsp;<span><a style="color: white;" href="/admin">Admin Panel</a></span>&nbsp;&nbsp;&nbsp;<span><a style="color: white;" href="/feedback">FeedBack</a></span></p>
            </div>
        </div>
        <script src="main.js"></script>
    </body>
    </html>