<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="left-navbar">
            <h1>Spare<span style="color: red;">.</span></h1>
        </div>
        <div class="right-navbar">
        </div>
        <!-- Phone-view -->
        <div class="phone-right-navbar">
            <div class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
</body>
</html>