    <nav class="navbar">
        <div class="left-navbar">
            <h1>Spare<span style="color: red;">.</span></h1>
        </div>
        <div class="right-navbar">
        </div>
        <!-- Phone-view -->
        <div class="phone-right-navbar">
            <div class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>