<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav class="navbar">
        <div class="left-navbar">
            <h1>Parts<span style="color: red;">.</span></h1>
        </div>
        <div class="right-navbar">
            <ul class="nav-list">
                <li class="navbar-items"><a href="/home">Home</a></li>
                <li class="navbar-items"><a href="/shop">Shop</a></li>
                <li class="navbar-items"><a href="/about">About Us</a></li>
                <li class="navbar-items"><a href="/contact">Contact Us</a></li>
            </ul>
            <button type="submit" class="btn"><a href="/signup" style="text-decoration: none; color:white" >Sign up</a></button>
        </div>
        <!-- Phone-view -->
        <div class="phone-right-navbar">
            <div class="menu-bar">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </nav>
</body>
</html>