*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.details-main-container{
    height: 41rem;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.details-image-container{
    height:100%;
    width: 40%;
}
.details-image-container img{
    height: 90%;
    width: 50%;
    margin-left: 2rem;
}
.details-right-container{
    height: 100%;
    width: 40%;
}
.details-rating-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.details-des{
     margin-top: 1rem;
}
.details-des p{
    margin-bottom: 1rem;
}
.details-buttons-container{
    margin-top: 2rem;
}