*{
    margin: 0;
    padding: 0;
}
.signup-main-container{
    width: 30%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.formData{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin-top: 5rem;
    margin-left: 5rem;
}
#Firstname{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
#Lastname{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
#Email{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
#Number{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
    /* pointer-events: none; */
}
.state-city{
    width: 80%;
    height:2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
#State{
    width: 50%;
    height: 100%;
    padding:0rem 1rem 0rem 1rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
    margin-right: 1.5rem;
}
#City{
    width: 50%;
    height: 100%;
    padding:0rem 1rem 0rem 1rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
#Address{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem
}
#Zip{
    width: 80%;
    height: 0.5rem;
    padding:0.8rem;
    border-radius: 0.2rem;
    border: 2px solid black;
    margin-bottom: 1rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}
.btns{
    padding: 0.8rem;
    width:25%;
    background-color: red;
    filter: grayscale(50%);
    border: none;
    color: white;
    border-radius: 0.2rem;
    margin-right: 4rem;
}
@media screen and (max-width:990px){
    .signup-main-container{
        width: 80%;
        height: 100%;
    }
}
@media screen and (max-width:400px){
    .signup-main-container{
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 80%;
        height: 100%;
    }
    .btns{
        padding: 0rem 2rem 0rem 2rem ;
    }
}